#container {
    overflow: auto;
}

#view {
    border: 1px solid black;
    float: left;
    position: relative;
}

#palette {
    margin-left: 10px;
    float: left;
}

#tiles {
    border: 1px solid black;
}

#selected-tile-container {
    position: relative;
    border: 1px solid black;
    width: 16px;
    height: 16px;
}

#selected-tile {
    position: absolute;
    clip: rect(0px,16px,16px,0px);
}

#selection-box {
    width: 0;
    height: 0;
    border: 1px solid red;
    position: absolute;
}

#canvas, #preview-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: transparent;
}

#preview-canvas {
    z-index: 1;
}
